<% content_for :title do %>
    Payment
<% end %>

<% content_for :head_js_before do %>
	<%= javascript_include_tag 'https://www.paypalobjects.com/api/checkout.js', 'data-turbolinks-track': 'reload' %>
<% end %>

<h1>Payment#index</h1>
<div id="paypal-button"></div>